Flask==0.9
Flask-And-Redis==0.5
Flask-Cache==0.12
Flask-DebugToolbar==0.8.0
Flask-DebugToolbar-Mongo==0.1
Flask-MongoKit==0.6
Flask-PyMongo==0.2.1
Flask-Script==0.5.3
Jinja2==2.7
gunicorn==0.17.2
MarkupSafe==0.18
PyYAML==3.10
WTForms==1.0.4
Werkzeug==0.8.3
argparse==1.2.1
beautifulsoup4==4.2.0
blinker==1.2
distribute==0.6.42
itsdangerous==0.20
pymongo==2.5.1
redis==2.7.5
requests==1.2.2
wsgiref==0.1.2
xmltodict==0.4.6
